main {
    background-color: #E7CEF3;
    padding-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: #E7CEF3;
    padding: 1rem 0;
}

article {
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

article h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

article h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}

article p {
    margin:2rem;
}

.event-details {
    font-style: italic;
    color: #555;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.gallery img {
    height: 300px;
    width: auto;
    margin: 1rem;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
}

.gallery img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 480px) {
    article {
        padding: 1rem;
    }

    article h1 {
        font-size: 1.5rem;
    }
    article p {
        margin: 1rem;
    }

    .gallery img {
       width: 100%;
       height: auto;
    }
}
