#work-in-progress {
    display: none;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    height: calc(100vh - 26.5rem);
}

#contact-form {
    background-color: #E7CEF3;
    padding: 2rem 0;
}

form {
    margin: 0 auto;
    background-color: #fff;
    width: 40%;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Align center for child elements */
}

.title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.input {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    margin-bottom: 0;
}

.button {
    background-color: blueviolet;
    color: White;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.alert-success {
    margin-bottom: 0.5rem;
    color: #155724;
}

.alert-danger {
    margin-bottom: 0.5rem;
    color: #721c24;
}

@media only screen and (max-width: 480px) {
    #work-in-progress {
        margin: auto;
        height: auto;
    }

    #work-in-progress h1 {
        font-size: 1.5rem;
    }

    #contact-form {
        padding: 2rem 1rem;
    }

    form {
        width: 70%;
    }

    .input {
        margin-bottom: 0.5rem;
    }

    label {
        font-size: 0.925rem;
    }
}
