  #presentation {
    text-align: center;
    padding: 2rem 5rem;
    background-color: #E7CEF3;
}

.presentation-container {
    display: flex;
    margin: 2rem;
    margin-bottom: 0;
    gap: 4rem;
}

.presentation-container img {
    height: auto;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.presentation-container .content {
    width: 50%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.presentation-container .content h3 {
    margin: 1rem;
    font-size: 1.5rem;
}

.presentation-container .content p {
    margin: 1rem;
    font-size: 1.125rem;
}


#gallery {
    background-color: #FFE66D;
    text-align: center;
    padding: 2rem 5rem;
}


.frame {
    margin: 1rem auto;
    background-color: #fff2ff;
    width: 80%;
    height: auto;
    overflow: hidden;
    border-radius: 30px;
}

.imageGallery {
    margin: auto;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.photo {
    flex: 0 0 100%;
}

.photo img {
    display: block;
    width: 100%;
    height: auto;
}

.points-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(201, 178, 222);
    margin: 0 5px;
    cursor: pointer;
}

.active {
    background-color: blueviolet;
}


@media only screen and (max-width: 480px) {

    #presentation {
        text-align: center;
        padding: 2rem 1rem;
        background-color: #E7CEF3;
    }
    .presentation-container {
        flex-direction: column;
        gap: 2rem;
    }

    .presentation-container img {
        margin: auto;
        width: 100%;
    }


    #gallery {
        padding: 2rem 1rem;
    }

    .frame {
        width: 90%;
    }
}
